.flex-centre {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.display-link {
    display: flex;
}

.a-links {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.cont-link {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    padding: 5px;
    transition: all 1s ease;
    color: white !important;
}

.cont-link:hover {
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    background-color: rgba(230, 230, 230, 0.458);
    border-radius: 50%;
    padding: 5px;
}

.link-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin-left: 18px !important;
    font: 1.4em sans-serif !important;
    font-weight: bold !important;
    color: white !important;
    text-decoration: none;
}

.link-btn:hover {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin-left: 18px !important;
    font: 1.4em sans-serif !important;
    font-weight: bold !important;
    color: rgba(192, 186, 186, 0.693) !important;
    text-decoration: none;
}

.logoo {
    transition: transform .7s ease-in-out;
}
.logoo:hover {
    cursor: pointer;
    transform: rotate(360deg) !important;
}

.app-bar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(2px);
    /* opacity: 50% !important; */
}

.app-bar-below {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    backdrop-filter: blur(2.5px);
    color: white;
    /* opacity: 50% !important; */
}