.flex-centre {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.display-link {
    display: flex;
}

.link-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin-left: 18px !important;
    font: 1.4em sans-serif !important;
    font-weight: bold !important;
    color: white !important;
    text-decoration: none;
}

.link-btn:hover {
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin-left: 18px !important;
    font: 1.4em sans-serif !important;
    font-weight: bold !important;
    color: rgba(192, 186, 186, 0.693) !important;
    text-decoration: none;
}

.app-bar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.503) !important;
    /* opacity: 50% !important; */
}